*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 85vh;
    width: 100%;
   
    
    background: url("./assets/back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5865f2; 
    background-size: cover;
   
}
/* Navigation--------------- */
section>nav{
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: fixed; */
}
section>nav>.main{
    height: 100%;
    width: 80%;
    /* background-color: azure; */
    display: flex;
}
section>nav>.main>.div1{
    height: 100%;
    width: 14%;

    display: flex;
    justify-content: center;
    align-items: center;
}
section>nav>.main>.div1>div{
    height: 50%;
    width: 100%;

    text-align: center;
}
section>nav>.main>.div1>div>svg{
    color: white;
}
section>nav>.main>.div2{
   
    height: 100%;
    width: 72%;

    display: flex;
    justify-content: center;
}
section>nav>.main>.div2>.div1{
    height: 100%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
section>nav>.main>.div2>.div1>div{
    height: 40%;
    width: 100%;
 
    
}
section>nav>.main>.div2>.div1>div>ol{
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
    
}
section>nav>.main>.div2>.div1>div>ol>li>a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}
section>nav>.main>.div2>.div1>div>ol>li>a:hover{
    border-bottom: 2px solid white;
}




section>nav>.main>.div3{
    height: 100%;
    width: 14%;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
section>nav>.main>.div3>div{
    height: 50%;
    width: 40%;

    border-radius: 30px;
   
}

section>nav>.main>.div3>div>button{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);

}
section>nav>.main>.div3>div>button>a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 510;

}
section>nav>.main>.div3>div>button>a:hover{
    transform: scale(5);
    box-shadow: 1px black;
}
/* --------------------------------- */
section>article{
    height: 87%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
   
}
section>article>div{
    
    height: 60%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section>article>div>.con1{

    height: 25%;
    width: 100%;
}

section>article>div>.con1>h1{
    font-size: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
section>article>div>.con2{
    height: 30%;
    width: 100%;
    justify-content: center;
    

}


section>article>div>.con2>p{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    color: white;
}
section>article>div>.con3{
    height: 35%;
    width: 100%;
    display: flex;
     /* display: ; */
     justify-content: center;
     align-items: center;
    
    
}

section>article>div>.con3>div{
    height: 60%;
    width: 80%;

    display: flex;

    justify-content: space-around;
    /* align-items: center; */
    
}
section>article>div>.con3>div>a{
    height: 85%;
    width: 46%;

    border-radius: 30px;
    border: 1px solid white;
    
}
section>article>div>.con3>div>.aa{
    height: 85%;
    width: 46%;

    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    
}
section>article>div>.con3>div>a>button{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/* section>article>div>.con3>div>a>button>a{
    background-color: white;
} */
section>article>div>.con3>div>a>.a{

    height: 100%;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
}
/* }
section>article>div>.con3>div>{
    height: 45%;
    width: 45%;
    background-color: blue;
    border-radius: 50px;

}

section>article>div>.con3>div>div>a>button{
    height: 90%;
    width: 80%;
    border-radius: 50px;
} */
/* ============================ */
/* -Second Page--------------- */


#page2{
    height: 92vh;
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
}
#page2>article{
    height: 60%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2>article>.div1{
    height: 100%;
    width: 60%;
    /* background: url("./assests/sec\ page.svg"); */
    background: url("./assets/sec\ page.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#page2>article>.div2{
    height: 100%;
    width: 40%;

}

#page2>article>.div2>#id1{
    margin-top: 4%;
    height: 45%;
    width: 100%;

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: end;
}
#page2>article>.div2>#id1>h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


#page2>article>.div2>#id2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#page2>article>.div2>#id2>.iid{
    height: 90%;
    width: 100%;

    
}
#page2>article>.div2>#id2>.iid>p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 5%;
    color: rgb(31, 30, 30);
    line-height: 160%;
}




















/* Third page--------------- */

#page3{
    height: 92vh;
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 239);
}
#page3>article{
    height: 60%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3>article>.div2{
    height: 100%;
    width: 65%;
    /* background: url("./assests/third\ page.svg "); */
    background: url("./assets/third\ page.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#page3>article>.div1{
    height: 100%;
    width: 34%;
   

}

#page3>article>.div1>#id1{
    margin-top: 4%;
    height: 45%;
    width: 100%;

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: end;
}
#page3>article>.div1>#id1>h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


#page3>article>.div1>#id2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#page3>article>.div1>#id2>.iid{
    height: 90%;
    width: 100%;

    
}
#page3>article>.div1>#id2>.iid>p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00;
    margin-top: 5%;
    color: rgb(31, 30, 30);
    /* line-height: 30px; */
    line-height: 160%;
}


/* Fourth page------------------- */





#page4{
    height: 92vh;
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
}
#page4>article{
    height: 60%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

#page4>article>.div1{
    height: 100%;
    width: 50%;
    /* background: url("./assests/fourth\ page.svg"); */
    background: url("./assets/fourth\ page.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
#page4>article>.div2{
    height: 100%;
    width: 40%;

}

#page4>article>.div2>#id1{
    margin-top: 4%;
    height: 45%;
    width: 100%;

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: end;
}
#page4>article>.div2>#id1>h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


#page4>article>.div2>#id2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#page4>article>.div2>#id2>.iid{
    height: 90%;
    width: 100%;

    
}
#page4>article>.div2>#id2>.iid>p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 5%;
    color: rgb(31, 30, 30);
    line-height: 160%;
}
/* page 5------------------------------- */













#page5{
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 239);
}
#page5>article{
    height: 80%;
    width: 80%;
}
#page5>article>.div1{
    height: 20%;
    width: 100%;
}
#page5>article>.div1>.l1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#page5>article>.div1>.l1>h1{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#page5>article>.div1>.l2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page5>article>.div1>.l2>p{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(149, 151, 152);
}



#page5>article>.div2{
    height: 77%;
    width: 100%;
    /* background:url("./assests/fivth\ page.svg"); */
    background: url("./assets/fivth\ page.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* -------Page 6 ----------------- */


#page6{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 239);
}

#page6>.div1{
    height: 90%;
    width: 40%;

}
#page6>.div1>.l1{
    height: 50%;
    width: 100;
    /* background:url("./assests/page6.svg"); */
    background: url("./assets/page6.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#page6>.div1>.l1>h1{

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#page6>.div1>.l2{
    height: 50%;
    width: 100;

    display: flex;
    justify-content: center;
}

#page6>.div1>.l2>div{
    height: 54%;
    width: 48%;
    background-color: #5865f2;
    border-radius: 25px;
    border: 1 solid #5865f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

#page6>.div1>.l2>div:hover{
    transform: scale(1.1);
    transition: 1s;

}
#page6>.div1>.l2>div>.aa{
    height: 70%;
    width: 12%;
    margin-top: 3%;
    margin-left: 1%;
    
    

}
#page6>.div1>.l2>div>.a{
    height: 70%;
    width: 65%;

    display: flex;
    align-items: center;
}

#page6>.div1>.l2>div>.a>a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#page6>.div1>.l2>div>div>svg{
    width: 100%;
    color: white;
}
/* 
#page6>.div1>.l2>button{
    height: 52%;
    width: 47%;
   border-radius: 25px;
   text-align: center;
   border: 1px solid  #5865f2;
   background-color: #5865f2;
   
}
#page6>.div1>.l2>button>svg{
    color: white;
    margin-top: -1%;
}
#page6>.div1>.l2>button>a{
    text-decoration: none;
    font-size: 155%;
    color: white;
    
} */












/* Footer----------------------- */



footer{
    height: 84vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>article{
    height:83%;
    width: 78%;
}

footer>article>.div1{
    height: 75%;
    width: 100%;
    display: flex;
    
   
}

footer>article>.div1>.i1{
    height: 100%;
    width: 32%;
}

footer>article>.div1>.i1>.div1{
    width: 55%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>article>.div1>.i1>.div1>.flag{
    height: 35%;
    width: 25%;
    border-radius: 3px;
    background:url("./assests/Flag-India.webp");
    background-position: center;
    background-size: cover;
    
}
footer>article>.div1>.i1>.div1>.country{
    height: 35%;
    width: 55%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

footer>article>.div1>.i1>.div1>.select{
    height: 35%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    
}

footer>article>.div1>.i1>.div2{
    height: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer>article>.div1>.i1>.div2>a{
    color:white;
    font-size: 150%;
}





footer>article>.div1>.i2{

    height: 100%;
    width: 17%;
   
}
footer>article>.div1>.i3{
    height: 100%;
    width: 17%;
   
}
footer>article>.div1>.i4{
    height: 100%;
    width: 17%;
   
}
footer>article>.div1>.i5{
    height: 100%;
    width: 17%;
    
}

footer>article>.div1>.i5>ol>li>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
footer>article>.div1>.i4>ol>li>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer>article>.div1>.i3>ol>li>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer>article>.div1>.i2>ol>li>a{
    text-decoration: none;
    color: white;
    
}

footer>article>.div1>.i2>ol>li>a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    
}

footer>article>.div1>.i3>ol>li>a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    
}
footer>article>.div1>.i4>ol>li>a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    
}
footer>article>.div1>.i5>ol>li>a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    
}
.same{
    list-style-type: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 7%;
}

.k{
    color: #5865f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 15%;
}





































footer>article>.div2{
    height: 17%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid #5865f2;
    display: flex;
}
footer>article>.div2>.li1{

    height: 100%;
    width: 50%;
}



footer>article>.div2>.li1>div>svg{
    color: white;
    height: 40%;
    width: 23%;
    margin-top: 4%;
}
footer>article>.div2>.li2{

    height: 100%;
    width: 50%;

    display: flex;
    justify-content: end;
    
}
footer>article>.div2>.li2>button{
    height: 45%;
    width: 14%;
    border-radius: 20px;
    background-color: #5865f2;
    border: 1px solid #5865f2;
    margin-top: 5.5%;
}

footer>article>.div2>.li2>button>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}